.full-width-table{
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}
.mat-header-cell {
  padding-right: 120px;
}
.mat-cell {
  padding-right: 120px;
}
th.mat-sort-header-sorted {
  color: black;
}
.fas:hover{
color: #4c3851;
}
.center-input {
  width: 20%;
  margin: auto;
  display: block;
}