<div class="center">
  <mat-form-field >
    <mat-label>Select a Chart</mat-label>
    <mat-select [(value)]="selected"  >
        <div (click)="chartSelect()">
      <mat-option value="none">None</mat-option>
      <mat-option value="option1">Gender Pie Chart</mat-option>
      <mat-option value="option2">Department Bar Chart</mat-option>
      <mat-option value="option3">Department Average Earnings Chart</mat-option>
      <mat-option value="option4">Number of Employments In Months</mat-option>
    </div>
    </mat-select>
  </mat-form-field>
</div>


<div *ngIf="chartGenderPie">
  <app-gender-chart></app-gender-chart>
</div>

<div *ngIf="chartDepartmentBar">
  <app-department-chart></app-department-chart>
</div>

<div *ngIf="chartDepartmentAvg">
  <app-department-avg-earning-chart></app-department-avg-earning-chart>
</div>
<div *ngIf="chartNumberOfEmployments">
  <app-number-of-employments-chart></app-number-of-employments-chart>
</div>