<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top" >
  <a class="navbar-brand" [routerLink]="['/home']" routerLinkActive="active" ><i class="far fa-address-card"></i>mikroERP</a>

  <button class="navbar-toggler" type="button"
          (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse"
       [ngClass]="{ 'show': navbarOpen }">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" routerLinkActive="active" >
        <a class="nav-link" [routerLink]="['/employee_table']" ><i class="fas fa-table"></i> Employee Table</a>
      </li>

      <li class="nav-item"  routerLinkActive="active" >
        <a class="nav-link" [routerLink]="['/chart_selector']"><i class="fas fa-chart-bar"></i> Charts</a>
      </li>

      <li class="nav-item" routerLinkActive="active" >
        <a class="nav-link" [routerLink]="['/employee_add']" ><i class="fas fa-user-plus"></i> Add Employee</a>
      </li>
    </ul>
  </div>
</nav>
