<div class="form-container">

  <h3>Update {{NameOfEditedEmployee}} data</h3><br/>

<form #addForm="ngForm" (ngSubmit)="updateEmployee()" class="form-employee">
  <mat-form-field >
    <input  name="firstname" type="text" pattern="[^\x00-\x7F]*[A-Za-z]+[^\x00-\x7F]*[A-Za-z]*[^\x00-\x7F]*" matInput placeholder="Name" required [(ngModel)]="model.firstName">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Lastname" pattern="[^\x00-\x7F]*[A-Za-z]+[^\x00-\x7F]*[A-Za-z]*[^\x00-\x7F]*" type="text" name="Lastname" required [(ngModel)]="model.lastName">
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Gender" name="sex" required [(ngModel)]="model.sex">
      <mat-option value="M">M</mat-option>
      <mat-option value="F">F</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Email" type="email" pattern=".+@.+\..+" name="email" required [(ngModel)]="model.email">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Wages" type="number" name="wages" required [(ngModel)]="model.wages">
  </mat-form-field>

  <mat-form-field>
    <input matInput [matDatepicker]="pickerWork" placeholder="Begining of employment (mm/dd/yy)" required name="dayOfEmployment" [(ngModel)]="model.dayOfEmployment">
      <mat-datepicker-toggle matSuffix [for]="pickerWork"></mat-datepicker-toggle>
      <mat-datepicker #pickerWork></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Phone Number" type="tel" name="phone" pattern="[0-9]{9}" required [(ngModel)]="model.phone">
  </mat-form-field>

  <mat-form-field>
    <input matInput [matDatepicker]="pickerBirth" placeholder="Birthday (mm/dd/yy)"  required name="dateOfBirth" [(ngModel)]="model.dateOfBirth">
      <mat-datepicker-toggle matSuffix [for]="pickerBirth"></mat-datepicker-toggle>
      <mat-datepicker #pickerBirth></mat-datepicker>
  </mat-form-field>

    <mat-form-field>
    <mat-select placeholder="Department" type="number" name="department" required [(ngModel)]="model.departmentId">
      <mat-option value="1">Managment</mat-option>
      <mat-option value="2">Logistics Department</mat-option>
      <mat-option value="3">Administration Department</mat-option>
      <mat-option value="4">Marketing Department</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Transport" type="number" name="transport" required [(ngModel)]="model.transportId">
      <mat-option value="1">Car</mat-option>
      <mat-option value="2">Walk</mat-option>
      <mat-option value="3">Bike</mat-option>
      <mat-option value="4">Public Transport</mat-option>
      <mat-option value="5">Train</mat-option>
      <mat-option value="6">Other</mat-option>
    </mat-select>
  </mat-form-field>

    <button [disabled]="!addForm.valid" type="submit" class="btn btn-success btn-lg btn-block">Add</button><br/>
  </form>
</div>
